worker_processes auto;
error_log /dev/stderr warn;

events {
    worker_connections 1024;
}

http {
    include      /usr/local/openresty/nginx/conf/mime.types;
    default_type application/octet-stream;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

    access_log /dev/stdout main;
    sendfile        on;
    keepalive_timeout 65;

    lua_package_path '/usr/local/openresty/nginx/lua-scripts/?.lua;;';
    resolver ${DNS_RESOLVER};

    log_by_lua_block {
        local logger = require "noname_logger"
        logger.log()
    }

    init_worker_by_lua_block {
        local init_worker = require "init_worker"
        init_worker.init_worker()
    }

    upstream vampi_backend {
        server ${APPS_ALB_DNS}:5000;
        keepalive 16;
    }

    upstream dvga_backend {
        server ${APPS_ALB_DNS}:5013;
        keepalive 16;
    }

    server {
        listen 80;
        server_name _;

        # Noname code starts
        set $noname_req_body "";
        access_by_lua_file /usr/local/openresty/nginx/lua-scripts/access.lua;
        set $noname_resp_body "";
        body_filter_by_lua_file /usr/local/openresty/nginx/lua-scripts/body_filter.lua;
        # Noname code ends

        location /health {
            return 200 "OK\n";
            add_header Content-Type text/plain;
        }

        location /nginx_status {
            stub_status on;
            allow 127.0.0.1;
            deny all;
        }

        location /vampi/ {
            proxy_pass         http://vampi_backend/;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /dvga/ {
            proxy_pass         http://dvga_backend/;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location / {
            return 200 "NGINX lab gateway - routes: /vampi/ /dvga/\n";
            add_header Content-Type text/plain;
        }
    }
}
