[defaults]
inventory           = inventory/aws_ec2.yml
roles_path          = roles
private_key_file    = ../keys/lab_key
remote_user         = ec2-user
host_key_checking   = False
stdout_callback     = yaml
callbacks_enabled   = timer, profile_tasks
gathering           = smart
fact_caching        = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining          = True
