[defaults]
inventory           = inventory/aws_ec2.yml
roles_path          = roles
private_key_file    = ../keys/lab_key
remote_user         = ec2-user
host_key_checking   = False
stdout_callback     = ansible.builtin.default
result_format       = yaml
callbacks_enabled   = ansible.builtin.timer, ansible.builtin.profile_tasks
gathering           = smart
fact_caching        = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
forks               = 2
timeout             = 30

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
ssh_args            = -o ControlMaster=no -o ConnectTimeout=30 -o StrictHostKeyChecking=no -o GSSAPIAuthentication=no
pipelining          = True
