---
# Copy to vault.yml and encrypt with: make vault-create
# Edit with: make vault-edit

# AWS credentials (if not using AWS CLI profile / instance role)
vault_aws_access_key: "REPLACE"
vault_aws_secret_key: "REPLACE"

# Kong admin credentials (if auth plugin enabled)
vault_kong_admin_token: "REPLACE"

# MuleSoft Anypoint Platform
vault_anypoint_client_id: "REPLACE"
vault_anypoint_client_secret: "REPLACE"
vault_mule_license_key: "REPLACE"

# Noname / Akamai API Security
vault_noname_tenant_url: "https://YOURTENANTNAME.nonamesecurity.com"
vault_noname_api_key: "REPLACE"
